
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .cms-home.cms-index-index {
        .page-wrapper > main.page-main {
            max-width: 1920px;
            padding-left: 0;
            padding-right: 0;
        }

        .nav-sections {
            margin-bottom: 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
        margin-top: 0;
    }

    .container {

        padding-right: @indent__s + @indent__xs ;
        padding-left: @indent__s + @indent__xs ;

        margin-left: auto;
        margin-right: auto;
    }

    .list {
        list-style: none;
    }

    .reset {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }

    .baner-wrapper {
        background-color: @color-background;
        .lib-vendor-prefix-display(flex) ;
        .lib-vendor-box-align(center);
        justify-content: space-around;
        padding: 10%;
    }


    .baner-title {
        margin-bottom: @indent__s;
        .lib-font-size(@font-size__l * 2) ;

        font-weight: @font-weight-light;
        letter-spacing: 1.5px;
    }

    .accent-color {

        font-weight: @font-weight-semibold;

    }

    .baner-description {
        color: @color-elogic-gray;
        margin-bottom: @indent__xl + @indent__xs;
    }

    .baner-content {

        .baner-link {


            color: @color-elogic-black;
            text-decoration: none;
            .lib-font-size(@font-size__l) ;
            border-bottom: 1px solid @color-elogic-black;

            &:hover {
                color: @color-elogic-gray;
                border-bottom: 1px solid @color-elogic-gray;

            }
        }
    }

    //----------------------------------------------------
    .categories {
        text-align: center;
    }

    .category-clocks,
    .category-newLight {
        background-color: @color-background;
        padding: 0 @indent__l @indent__l @indent__l;
    }

    .category-content {
        .category-link {
            color: @color-elogic-black;
            text-decoration: none;
            .lib-font-size(@font-size__s) ;
            border-bottom: 1px solid @color-elogic-black;

            &:hover {
                color: @color-elogic-gray;
                border-bottom: 1px solid @color-elogic-gray;
            }
        }

        .category-description {
            color: @color-elogic-gray;
        }

    }

    .category-clocks {
        margin-bottom: @indent__l;
    }

    //------------------------------------------------------------

    .products-content {
        margin-bottom: @indent__base + @indent__xl;

        &::after {

            content: '';
            position: absolute;

            width: 35px;
            height: 4px;
            margin-top: @indent__base;
            background-color: @color-elogic-black;
        }

        .products-description {
            color: @color-elogic-gray;
            letter-spacing: 1.5px;

        }

        .products-title {
            letter-spacing: 1px;
            margin-bottom: @indent__xs;
        }
    }

    //    ---------------------------------------------------------------
    .sale-container{
        background-image: url("@{baseDir}images/saleBaner.jpg");
        background-repeat: no-repeat;
        .lib-vendor-prefix-display(flex) ;
        .lib-vendor-box-align(center);
        height: 146px;
        background-position: left top;
        justify-content: space-between;

    }
    .sale-content{
        margin-left: @indent__m * 4;

           .sale-title{
               .lib-font-size(@font-size__xl) ;
               letter-spacing: 1px;
               margin-bottom: @indent__xs;
           }

        .sale-description{
            font-weight: @font-weight-light;
            color: @color-elogic-black;
        }
    }
    .sale-link{
        margin-right: @indent__m * 4;
        font-weight: @font-weight-semibold;
        text-decoration: none;
        border-bottom: 1px solid @color-elogic-black;
        letter-spacing: 1px;
        color: @color-elogic-black ;
        transition:  all .4s ease ;
        cursor: pointer;

        &:hover{
            color: @color-elogic-black ;
            text-decoration: none;

        }
    }
    //        --------------------------------------------------------------

    .after-line{
        border-bottom: 1px solid @color-elogic-lightGray;
        .bestsellers-title,
        .featured-title,
        .viewed-title{
            margin-bottom: @indent__base ;
            letter-spacing: 1px ;
            color:@color-elogic-black ;
            .lib-font-size(@font-size__l) ;

        }
    }


//    ------------------------------------------------------------------------------------
    .news-content {
        margin-bottom: @indent__base + @indent__xl;

        &::after {

            content: '';
            position: absolute;

            width: 35px;
            height: 4px;
            margin-top: @indent__base;
            background-color: @color-elogic-black;
        }

        .news-description {
            color: @color-elogic-gray;
            letter-spacing: 1.5px;

        }

        .news-title {
            letter-spacing: 1px;
            margin-bottom: @indent__xs;
        }
    }
    .blog-list{
        .lib-vendor-prefix-display(flex) ;
        list-style: none;
        padding: 0;

        .blog-item:not(:last-child){
            margin-bottom: @indent__m;

        }

          .blog-photo{
              margin-bottom: @indent__m;
          }
          .blog-title{
              margin-bottom: @indent__s + @indent__xs;
              color: @color-elogic-black;
              .lib-font-size(@h4__font-size) ;
              text-transform: uppercase;
              line-height: 1.5;
          }
        .data-container{
            margin-bottom:@indent__s + @indent__xs;
            color: @color-elogic-link;
            font-size: @font-size__s;
            .icon{
                margin-right: @indent__s;
            }

            .data-time{
                font-style: italic ;
            }
        }

        .blog-description{
            letter-spacing: .25px;
            color: @color-elogic-link;
        }
    }

}


// До 480px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .category-clocks,
    .category-newLight {
        text-align: center;

    }

    .photo-category{
        margin-bottom: @indent__base;
    }
    .category-description{
        display: none;
    }
    .category-title{
        margin-bottom: @indent__l;
        letter-spacing: 2px;
    }
    //    -----------------------------------------------
    .sale-container{
        background-image: linear-gradient(rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.05)), url("https://i.ibb.co/Qms181R/Screenshot-2021-07-30-at-12-16-18-kare-k83990-624068820-800x800w-jpg-JPEG-Image-699-800-pixels.png");
        height: 200px;
    }
    .sale-content{
        margin-top: @indent__m;
    }
}


//
//  Mobile від 481 до 640
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    .baner-wrapper{

        .lib-vendor-prefix-flex-direction(column-reverse) ;
        text-align: center;

    }
    .photo-chair{
        max-width: 75%;
    }
    .baner-title{
        .lib-font-size(@h2__font-size) ;

    }


    .baner-description{
        margin-top: @indent__base;
        margin-bottom: @indent__l;
    }
    .baner-content{
        margin-top: @indent__l;
    }
    //    ---------------

    .categories{
        text-align: center;
    }


     .category-description{
         display: block;
         margin-bottom: @indent__xl;
     }
>
    .category-title{
        margin-bottom: @indent__base;
    }
    //-------------------------------------------------------
    .sale-container{
        .lib-vendor-prefix-flex-direction(column) ;
        text-align: center;

    }
    .sale-content{
        margin-left: 0;
        margin-bottom: @indent__xl + @indent__s;
        margin-top: @indent__s + @indent__xs;
    }
    .sale-link{
        margin-right: 0;
        margin-bottom: @indent__base;

    }
//    ------------------------
    .blog-list{
        .blog-item:nth-child(2),
        .blog-item:nth-child(3){
            display: none;
        }
    }


}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .blog-list {
        .blog-item {
            &:nth-child(3) {
                display: none;
            }
            &:not(:last-child){
                margin-right: @indent__m;
            }
        }
    }
}

//
//  Tablet 768-1023
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .categories{
        text-align: left;
    }
    .category-clocks,
    .category-newLight {
        .lib-vendor-prefix-display(flex) ;
        .lib-vendor-box-align(center);
        justify-content: space-evenly;
        padding: 0 @indent__base @indent__base @indent__base;

    }

    .category-title{
        margin-bottom: @indent__s;
    }
    .container{
        max-width: 720px;
    }
//    ------------------------------------------

}
//----------
// Desktop 1023 ...
//-----------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .categories{
        .lib-vendor-prefix-display(flex) ;
        justify-content: center;


    }
    .category-clocks{
        margin-bottom: 0;
        margin-right: @indent__l;
    }
    .category-title{
        letter-spacing: 4px;
    }
    .container{
        max-width: 940px;
    }
//    ----------------------------
    .blog-list {
        .blog-item:nth-child(3) {
            display: block;
        }
    }

}
// від 1440 - ....
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

    .container{
        max-width: 1350px;
    }

}
