//  Common
//  _____________________________________________

& when (@media-common = true) {

    .cms-home.cms-index-index {
        .page-wrapper > main.page-main {
            max-width: 1920px;
            padding-left: 0;
            padding-right: 0;
        }

        .nav-sections {
            margin-bottom: 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
        margin-top: 0;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .list {
        list-style: none;
    }

    .reset {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }

    .baner-wrapper {
        background-color: @color-background;
        .lib-vendor-prefix-display(flex) ;
        .lib-vendor-box-align(center);
        justify-content: space-around;
        padding: 10%;
    }


    .baner-title {
        margin-bottom: 10px;
        .lib-font-size(36) ;
        font-weight: @font-weight-light;
        letter-spacing: 1.5px;
    }

    .accent-color {

        font-weight: @font-weight-semibold;

    }

    .baner-description {
        color: @color-elogic-gray;
        margin-bottom: 45px;
    }

    .baner-content {

        .baner-link {


            color: @color-elogic-black;
            text-decoration: none;
            .lib-font-size(16) ;
            border-bottom: 1px solid @color-elogic-black;

            &:hover {
                color: @color-elogic-gray;
                border-bottom: 1px solid @color-elogic-gray;

            }
        }
    }

    //----------------------------------------------------
    .categories {
        text-align: center;
    }

    .category-clocks,
    .category-newLight {
        background-color: @color-background;
        padding: 0 30px 30px 30px;
    }

    .category-content {
        .category-link {
            color: @color-elogic-black;
            text-decoration: none;
            .lib-font-size(16) ;
            border-bottom: 1px solid @color-elogic-black;

            &:hover {
                color: @color-elogic-gray;
                border-bottom: 1px solid @color-elogic-gray;
            }
        }

        .category-description {
            color: @color-elogic-gray;
        }

    }

    .category-clocks {
        margin-bottom: 30px;
    }

    //------------------------------------------------------------

    .products-content {
        margin-bottom: 60px;

        &::after {

            content: '';
            position: absolute;

            width: 35px;
            height: 4px;
            margin-top: 20px;
            background-color: black;
        }

        .products-description {
            color: @color-elogic-gray;
            letter-spacing: 1.5px;

        }

        .products-title {
            letter-spacing: 1px;
            margin-bottom: 5px;
        }
    }

}

// До 480px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .category-clocks,
    .category-newLight {
        text-align: center;

    }

    .photo-category{
        margin-bottom: 20px;
    }
    .category-description{
        display: none;
    }
    .category-title{
        margin-bottom: 30px;
        letter-spacing: 2px;
    }
}

//
//  Mobile від 481 до 640
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

  .baner-wrapper{

      .lib-vendor-prefix-flex-direction(column-reverse) ;
      text-align: center;

  }
  .photo-chair{
      max-width: 75%;
  }
    .baner-title{
        .lib-font-size(26) ;

    }


    .baner-description{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .baner-content{
        margin-top: 30px;
    }
//    ---------------

    .categories{
        text-align: center;
    }

     .category-description{
         display: block;
         margin-bottom: 40px;
     }
    .category-title{
        margin-bottom: 20px;
    }


}
//
//  Tablet 768-1023
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .categories{
        text-align: left;
    }
    .category-clocks,
    .category-newLight {
        .lib-vendor-prefix-display(flex) ;
        .lib-vendor-box-align(center);
        justify-content: space-evenly;
        padding: 0 20px 20px 20px;

    }

    .category-title{
        margin-bottom: 10px;
    }
    .container{
        max-width: 720px;
    }

}
//----------
// Desktop 1023 ...
//-----------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
       .categories{
           .lib-vendor-prefix-display(flex) ;
           justify-content: center;


       }
    .category-clocks{
        margin-bottom: 0;
        margin-right: 30px;
    }
    .category-title{
        letter-spacing: 4px;
    }
    .container{
        max-width: 940px;
    }

}
// від 1440 - ....
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
        .categories{
            .category-link{
                .lib-font-size(16) ;
            }

        }

    .container{
        max-width: 1350px;
    }

}
